[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git
[submodule "content/themes/h5bp"]
	path = content/themes/h5bp
	url = https://github.com/sickDevelopers/HTML5-Boilerplate-WordPress-Theme
